/*不能缺少，否则到不了中间*/
body{
    text-align:center
}

#phone_number {
    margin: 0 auto;
    color: green;
}

#login_title{
    margin: 0 auto;
}


/*表格居中*/
.main_table {
    height: auto;
    margin: 0 auto;
    width: auto;
    align-content: center;
    border: 1px solid black;
}

